<div class="bg-image">
    <div class="container-fluid blur-image">
        <div class="container text-center text-white pt-5 pb-5 mb-5">

            <div class="row row-container mt-5 p-0 border border-2 rounded mb-5">
                <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0 pb-1">
                    <p class="mt-3 h4 fw-bolder">Benefits of Registration</p>
                    <ul class="text-start mt-3">
                        <li class="fw-bold">Posting of Gigs</li>
                        <li class="fw-bold">Posting Videos with your social media links (Youtube, Instagram e.t.c)</li>
                        <li class="fw-bold">Posting of Vacancies</li>
                        <li class="fw-bold">Posting of Services</li>
                        <li class="fw-bold">And many more features to come...</li>
                    </ul>

                    <div class="mt-5 text-center px-1">
                        <div class="d-flex">Don't have an account? register<a class="ms-1 text-decoration-none"
                                [routerLink]="[ '/auth/register']">here</a>.</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0 text-start">
                    <!-- form -->
                    <div class="form-container">
                        <div class="card card-bg-image p-0 m-0 border border-0 rounded">
                            <div class="card-blur-image p-0 m-0">
                                <div class="card-body ">
                                    <form [formGroup]="login_form" (ngSubmit)="login()">
                                        <fieldset>
                                            <p class="h1 fw-bold text-center mb-5 text-white">Login</p>
                                            <!-- Alert Label -->
                                            @if (isFailed && !isSuccess) {
                                            <div class="bg-danger px-1 rounded">
                                                <p class="text-white">{{message}}</p>
                                            </div>
                                            } @else if (isSuccess) {
                                            <div class="bg-success py-1 px-2 rounded">
                                                <p class="text-white">{{message}}</p>
                                            </div>
                                            } @else {
                                            <div class="">
                                                <p class=""></p>
                                            </div>
                                            }
                                            <div class="form-group mt-3">
                                                <label for="email" class="fw-bold text-white">Email Address</label>
                                                <input formControlName="email" type="email"
                                                    class="form-control bg-transparent mt-1 text-white">
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="password" class="fw-bold text-white">Password</label>
                                                <input formControlName="password" type="password"
                                                    class="form-control bg-transparent mt-1 text-white">
                                            </div>

                                            <div class="text-center mt-4">
                                                <button
                                                    class="btn-outline-transparent btn border border-white text-white">Login</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
