<div class="m-0 container-fluid text-center my-3 py-5 px-auto font-style">
    <div class="container py-4 px-2">
        <div class="card shadow rounded m-0 p-0">
            <div class="card-body">
                <div class="mt-3">
                    <div class="crad-header">
                        <p class="h2 fw-bold font-style">Regisration Form</p>
                    </div>
                    <div class="form-contanier px-2">
                        <div class="help">
                            <button class="btn btn-transparent"><i class="bi bi-info"></i></button>
                        </div>
                        <form>
                            <div class="row mt-5">
                                <!-- First colunm -->
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <!-- name field -->
                                    <div class="form-group mb-2">
                                        <label for="name">Full Name</label>
                                        <input type="text" class="form-control form-rounded bg-transparent">
                                    </div>

                                    <!-- name field -->
                                    <div class="form-group mb-2">
                                        <label for="name">Email</label>
                                        <input type="text" class="form-control form-rounded bg-transparent">
                                    </div>
                                </div>

                                <!-- Second colunm -->
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <!-- name field -->
                                    <div class="form-group mb-2">
                                        <label for="name">Nickname / Username</label>
                                        <input type="text" class="form-control form-rounded bg-transparent">
                                    </div>
                                    <!-- name field -->
                                    <div class="form-group mb-2">
                                        <label for="name">Role</label>
                                        <select name="role" class="form-control form-rounded bg-transparent"
                                            formControlName="role" id="role">
                                            <option class="" value="" disabled>Select Options</option>
                                            <option class="" value="Instrumentalist">Instrumentalist
                                            </option>
                                            <option class="" value="Song Writer">Song Writer</option>
                                            <option class="" value="Vocalist">Vocalist</option>
                                            <option class="" value="Music Director">Music Director
                                            </option>
                                            <option class="" value="Sound Engineer">Sound Engineer
                                            </option>
                                            <option class="" value="Musical Gadget Dealer">Musical Gadget
                                                Dealer</option>
                                        </select>
                                    </div>

                                </div>
                                <!-- name field -->
                                <div class="form-group mb-2 mx-auto">
                                    <label for="name">Password</label>
                                    <input type="text" class="form-control form-rounded bg-transparent">
                                </div>
                            </div>
                            <div class="button mt-3">
                                <button class="form-rounded btn-secondary btn">Register</button>
                            </div>
                            <div class="already a user mt-3">
                                <p class="">Already have an account? login<a class="ms-1 text-decoration-none"
                                        [routerLink]="[ '/auth/login']">here</a>.</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
