<div class="bg-image">
    <div class="container-fluid blur-image">
        <div class="container text-center text-white pt-5 pb-5">

            <div class="row mt-5 p-0 border border-2 rounded">
                <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0">
                    <p class="mt-3 h4 fw-bolder">Benefits of Registration</p>
                    <ul class="text-start mt-3">
                        <li class="fw-bold">Posting of Gigs</li>
                        <li class="fw-bold">Posting Videos with your social media links (Youtube, Instagram e.t.c)</li>
                        <li class="fw-bold">Posting of Vacancies</li>
                        <li class="fw-bold">Posting of Services</li>
                        <li class="fw-bold">And many more features to come...</li>
                    </ul>

                    <div class="mt-5 ms-3 pt-5">
                        <div class="d-flex">Already have an account? login<a class="ms-1 text-decoration-none"
                                [routerLink]="[ '/auth/login']">here</a>.</div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6 p-0 m-0 text-start">
                    <!-- form -->
                    <div class="form-container">
                        <div class="card card-bg-image p-0 m-0 border border-0 rounded">
                            <div class="card-blur-image p-0 m-0">
                                <div class="card-body ">
                                    <form [formGroup]="register_form" (submit)="register()">
                                        <fieldset>
                                            <p class="h1 fw-bold text-center mb-5 text-white">SignUp</p>
                                            <div class="form-group">
                                                <label for="name" class="fw-bold text-white">Full name</label>
                                                <input formControlName="name" type="text"
                                                    class="form-control bg-transparent mt-1 text-white">
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="email" class="fw-bold text-white">Email Address</label>
                                                <input formControlName="email" type="email"
                                                    class="form-control bg-transparent mt-1 text-white">
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="text" class="fw-bold text-white">Role</label>
                                                <select name="role" class="form-control bg-transparent mt-1 text-white"
                                                    formControlName="role" id="role">
                                                    <option class="bg-dark" value="" disabled>Select Options</option>
                                                    <option class="bg-dark" value="instrumentalist">Instrumentalist
                                                    </option>
                                                    <option class="bg-dark" value="song-writer">Song Writer</option>
                                                    <option class="bg-dark" value="vocalist">Vocalist</option>
                                                    <option class="bg-dark" value="music-director">Music Director
                                                    </option>
                                                    <option class="bg-dark" value="sound-engineer">Sound Engineer
                                                    </option>
                                                    <option class="bg-dark" value="musical-gadget-dealer">Musical Gadget
                                                        Dealer</option>
                                                </select>
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="username"
                                                    class="fw-bold text-white">Nickname/Username</label>
                                                <input type="text" formControlName="username"
                                                    class="form-control bg-transparent mt-1 text-white">
                                            </div>

                                            <div class="form-group mt-3">
                                                <label for="password" class="fw-bold text-white">Password</label>
                                                <input type="password" formControlName="password"
                                                    class="form-control bg-transparent mt-1 text-white">
                                            </div>

                                            <div class="text-center mt-4">
                                                <button
                                                    class="btn-outline-transparent btn border border-white text-white">SignUp</button>
                                            </div>
                                        </fieldset>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
