<!-- Gigs Session  -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Gigs</h3>
    <p class="small text-center">These are the available gigs</p>
    @if (!allGigs || allGigs <= 0) { <h1 class="text-center fw-bolder">No new gigs Yet check back later</h1>
        }
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gig of allGigs">
                    <div class="card w-100">

                        <div class="card-body">
                            <h6>{{gig.title}}</h6>
                            <!-- location -->
                            <div class="">
                                <!-- <p class="small m-0 text-center">Gig Title: </p> -->
                                <p class="small">{{gig.type}}</p>
                            </div>
                            <!-- gig Genre -->
                            <div class="mt-0">
                                <!-- <p class="small mb-1 m-0">Description: </p> -->
                                <p class="small">{{gig.description}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date: </p>
                                <p class="small">{{gig.date | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2">
                                <p class="small m-0">Location: </p>
                                <p class="small">{{gig.location}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Price: </p>
                                <p class="small">{{gig.price}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Instrument(s): </p>
                                <p class="small">{{gig.instruments}}</p>
                            </div>

                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Time: </p>
                                <p class="small">{{gig.time | timeFormat}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Contact: </p>
                                <p class="small">{{gig.contact}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Posted By: </p>
                                <p class="small">{{gig.postedBy}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Posted: </p>
                                <p class="small">{{gig.createdAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Updated: </p>
                                <p class="small">{{gig.updatedAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn-dark btn text-white" (click)="getGigDetail(gig.id)">
                                    Full Description
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
