@if (images) {
<ngb-carousel>
    <!-- First image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid" [src]="images[0]" alt="first image slide" width="1920" height="500">
        </div>
        <div class="carousel-caption">
            <h3>Post Gigs and See Gigs of your interest</h3>
            <p>See posted gigs by other musicians and also post gigs for other musicians to see</p>
        </div>
    </ng-template>
    <!-- Second image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid" [src]="images[1]" alt="second image slide" width="1920" height="500">
        </div>
        <div class="carousel-caption ">
            <h3>Post Vacancies and See Vacancies of your interest</h3>
            <p>See posted vacancies by other musicians and also post vacancies for other musicians to see</p>
        </div>
    </ng-template>
    <!-- Third image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid" [src]="images[2]" alt="second image slide" width="1920" height="500">
        </div>
        <div class="carousel-caption">
            <h3>Post Your Products and Services and See Products and Services of your interest</h3>
            <p>See posted Products and Services by other musicians and also post Products and Services for other
                musicians to see</p>
        </div>
    </ng-template>
</ngb-carousel>
}

<!-- About Section -->
<section class="mt-4 container-fluid px-5">
    <h3 class="text-center fw-bolder">About Musicians Poster</h3>
    <p>Music Poster: Your All-In-One Music Hub.
        Discover a vibrant community of musicians and music lovers. Find your next gig, seek talented bandmates, or
        share your original music. Connect with like-minded artists, explore upcoming shows, and stay updated on the
        local music scene. Whether you’re a seasoned performer or just starting out, Music Poster is your go-to platform
        for everything music.
    </p>
</section>

<!-- Gigs Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Gigs</h3>
    <p class="small text-center">These are the available gigs</p>
    <div class="mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gig of gigs">
                <div class="card w-100">
                    <div class="card-header p-0 m-0">
                        <img [src]="images[0]" alt="" class="w-100">
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Location: </p>
                            <p class="small">{{gig.location}}</p>
                        </div>
                        <!-- gig Genre -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Gig Genre: </p>
                            <p class="small">{{gig.genre}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Contact: </p>
                            <p class="small">{{gig.contact}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Gig availability: </p>
                            <p class="small">{{gig.availability}}</p>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn-info btn text-white">
                                Full Description
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 container text-center">
            <a class="btn-info btn text-white text-center" [routerLink]="[ '/gigs' ]">More Gigs</a>
        </div>
    </div>
</section>

<!-- Vacancy Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Vacancies</h3>
    <p class="small text-center">These are the available Vacancies</p>
    <div class="mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gig of gigs">
                <div class="card w-100">
                    <div class="card-header p-0 m-0">
                        <img [src]="images[0]" alt="" class="w-100">
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Location: </p>
                            <p class="small">{{gig.location}}</p>
                        </div>
                        <!-- vacancy Genre -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Vacancy Genre: </p>
                            <p class="small">{{gig.genre}}</p>
                        </div>
                        <!-- vacancy availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Contact: </p>
                            <p class="small">{{gig.contact}}</p>
                        </div>
                        <!-- vacancy availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Vacancy availability: </p>
                            <p class="small">{{gig.availability}}</p>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn-info btn text-white">
                                Full Description
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 container text-center">
            <a class="btn-info btn text-white text-center" [routerLink]="[ '/vacancies' ]">More Vacancies</a>
        </div>
    </div>
</section>

<!-- Gadgets Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Musical Gadgets</h3>
    <p class="small text-center">These are the available Gadgets</p>
    <div class="mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gig of gigs">
                <div class="card w-100">
                    <div class="card-header p-0 m-0">
                        <img [src]="images[0]" alt="" class="w-100">
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Location: </p>
                            <p class="small">{{gig.location}}</p>
                        </div>
                        <!-- gig Genre -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Gadget price: </p>
                            <p class="small">{{gig.genre}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Contact: </p>
                            <p class="small">{{gig.contact}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Gig availability: </p>
                            <p class="small">{{gig.availability}}</p>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn-info btn text-white">
                                Full Description
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 container text-center">
            <a class="btn-info btn text-white text-center" [routerLink]="[ '/market-place' ]">More Gadgets</a>
        </div>
    </div>
</section>

<!-- Service Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Services</h3>
    <p class="small text-center">These are the available services</p>
    <div class="mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gig of gigs">
                <div class="card w-100">
                    <div class="card-header p-0 m-0">
                        <img [src]="images[0]" alt="" class="w-100">
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Location: </p>
                            <p class="small">{{gig.location}}</p>
                        </div>
                        <!-- gig Genre -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Service Type: </p>
                            <p class="small">{{gig.genre}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Contact: </p>
                            <p class="small">{{gig.contact}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Service availability: </p>
                            <p class="small">{{gig.availability}}</p>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn-info btn text-white">
                                Full Description
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 container text-center">
            <a class="btn-info btn text-white text-center" [routerLink]="[ '/services']">More Services</a>
        </div>
    </div>
</section>

<!-- Events Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Events</h3>
    <p class="small text-center">These are the available events</p>
    <div class="mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let event of allEvents">
                <div class="card w-100">
                    <div class="card-header p-0 m-0">
                        <img [src]="images[0]" alt="" class="w-100">
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <div class="d-flex justify-content-between">
                            <p class="small fw-bolder">Event Title: </p>
                            <p class="small fw-bold">{{event.title}}</p>
                        </div>
                        <!-- gig Genre -->
                        <div class="mt-0">
                            <p class="small mb-1 fw-bolder">Description: </p>
                            <p class="small fw-bold">{{event.description}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small fw-bolder">Posted By: </p>
                            <p class="small fw-bold">{{event.username}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small fw-bolder">Date Posted: </p>
                            <p class="small fw-bold">{{event.createdAt}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small fw-bolder">Date Updated: </p>
                            <p class="small fw-bold">{{event.updatedAt}}</p>
                        </div>
                        <div class="text-center mt-3">
                            <button class="btn-info btn text-white" (click)="getEventId(event.id)">
                                Full Description
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 container text-center">
            <a class="btn-info btn text-white text-center" [routerLink]="[ '/services']">More Services</a>
        </div>
    </div>
</section>



<!-- Gigs Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Contributors</h3>
    <p class="small text-center">Great teams that made this project possible</p>
    <div class="mt-4">
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gig of gigs">
                <div class="card w-100">
                    <div class="card-header p-0 m-0">
                        <img [src]="images[0]" alt="" class="w-100">
                    </div>
                    <div class="card-body">
                        <!-- location -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Name: </p>
                            <p class="small">{{gig.location}}</p>
                        </div>
                        <!-- gig Genre -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Nickname: </p>
                            <p class="small">{{gig.genre}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Contact: </p>
                            <p class="small">{{gig.contact}}</p>
                        </div>
                        <!-- gig availability -->
                        <div class="d-flex justify-content-between">
                            <p class="small">Profession: </p>
                            <p class="small">{{gig.availability}}</p>
                        </div>
                        <!-- Social Media Handles -->
                        <div class="d-flex justify-content-between">
                            <a href="https://facebook.com" target="_blank"><i
                                    class="bi-facebook bi text-primary"></i></a>
                            <a href="https://facebook.com" target="_blank"><i
                                    class="bi-instagram bi text-danger"></i></a>
                            <a href="https://facebook.com" target="_blank"><i
                                    class="bi-twitter bi text-primary"></i></a>
                            <a href="https://facebook.com" target="_blank"><i class="bi-youtube bi text-danger"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
