@if (images) {
<ngb-carousel>
    <!-- First image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="first image slide">
        </div>
        <div class="carousel-caption">
            <h3>Post Gigs and See Gigs of your interest</h3>
            <p>See posted gigs by other musicians and also post gigs for other musicians to see</p>
        </div>
    </ng-template>
    <!-- Second image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="second image slide">
        </div>
        <div class="carousel-caption">
            <h3>Post Vacancies and See Vacancies of your interest</h3>
            <p>See posted vacancies by other musicians and also post vacancies for other musicians to see</p>
        </div>
    </ng-template>
    <!-- Third image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[3]" alt="second image slide">
        </div>
        <div class="carousel-caption">
            <h3>Post Vacancies and See Vacancies of your interest</h3>
            <p>See posted vacancies by other musicians and also post vacancies for other musicians to see</p>
        </div>
    </ng-template>
</ngb-carousel>
}

<!-- About Section -->
<section class="mt-4 container-fluid px-5">
    <h3 class="text-center fw-bolder">About Musicians Poster</h3>
    <p>Music Poster: Your All-In-One Music Hub.
        Discover a vibrant community of musicians and music lovers. Find your next gig, seek talented bandmates, or
        share your original music. Connect with like-minded artists, explore upcoming shows, and stay updated on the
        local music scene. Whether you’re a seasoned performer or just starting out, Music Poster is your go-to platform
        for everything music.
    </p>
</section>

<!-- Gigs Session -->
<section class="mt-5 mb-5">
    <h3 class="text-center fw-bolder">Gigs</h3>
</section>
