@if (images) {
<ngb-carousel [showNavigationArrows]="showNavigationArrow">
    <!-- First image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid img-height" [src]="images[0]" alt="first image slide" width="1920" height="500">
        </div>
        <div class="carousel-caption">
            <h3 class="fw-bolder">Post Gigs and See Gigs of your interest</h3>
            <p class="fw-bold">See posted gigs by other musicians and also post gigs for other musicians to see</p>
        </div>
    </ng-template>
    <!-- Second image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid img-height" [src]="images[1]" alt="second image slide" width="1920" height="500">
        </div>
        <div class="carousel-caption ">
            <h3 class="fw-bolder">Post Vacancies and See Vacancies of your interest</h3>
            <p class="fw-bold">See posted vacancies by other musicians and also post vacancies for other musicians to
                see</p>
        </div>
    </ng-template>
    <!-- Third image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid img-height" [src]="images[2]" alt="second image slide" width="1920" height="500">
        </div>
        <div class="carousel-caption">
            <h3 class="fw-bolder">Post Your Newly released Songs, Videos and See Newly released Songs, Videos</h3>
            <p class="fw-bold">See Newly released Songs, Videos by other musicians and also post Products and Services
                for other
                musicians to see</p>
        </div>
    </ng-template>
    <!-- Fourth image slide -->
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img class="img-fluid img-height" [src]="images[3]" alt="second image slide" width="1920" height="500">
        </div>
        <div class="carousel-caption">
            <h3 class="fw-bolder">Post Your Products and Services and See Products and Services of your interest</h3>
            <p class="fw-bold">See posted Products and Services by other musicians and also post Products and Services
                for other
                musicians to see</p>
        </div>
    </ng-template>
</ngb-carousel>
}

<!-- About Section -->
<section class="mt-4 container-fluid px-5">
    <h3 class="text-center fw-bolder">About MUGIVIES</h3>
    <p><b>Mugivies</b>: Your All-In-One Music Hub.
        Discover a vibrant community of musicians and music lovers. Find your next gig, seek talented bandmates, or
        share your original music. Connect with like-minded artists, explore upcoming shows, and stay updated on the
        local music scene. Whether you’re a seasoned performer or just starting out, Mugivies is your go-to platform
        for everything music.
    </p>
</section>

<!-- Gigs Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Gigs</h3>
    <p class="small text-center">These are the available gigs</p>
    @if (!newGigs || newGigs <= 0) { <h1 class="text-center fw-bolder">No new gigs Yet check back later</h1>
        }
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gig of newGigs">
                    <div class="card w-100">

                        <div class="card-body">
                            <h6>{{gig.title}}</h6>
                            <!-- location -->
                            <div class="">
                                <!-- <p class="small m-0 text-center">Gig Title: </p> -->
                                <p class="small">{{gig.type}}</p>
                            </div>
                            <!-- gig Genre -->
                            <div class="mt-0">
                                <!-- <p class="small mb-1 m-0">Description: </p> -->
                                <p class="small">{{gig.description}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date: </p>
                                <p class="small">{{gig.date | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2">
                                <p class="small m-0">Location: </p>
                                <p class="small">{{gig.location}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Price: </p>
                                <p class="small">{{gig.price}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Instrument(s): </p>
                                <p class="small">{{gig.instruments}}</p>
                            </div>

                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Time: </p>
                                <p class="small">{{gig.time | timeFormat}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Contact: </p>
                                <p class="small">{{gig.contact}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Posted By: </p>
                                <p class="small">{{gig.postedBy}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Posted: </p>
                                <p class="small">{{gig.createdAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Updated: </p>
                                <p class="small">{{gig.updatedAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn-dark btn text-white" (click)="getGigDetail(gig.id)">
                                    Full Description
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 container text-center">
                <a class="btn-dark btn text-white text-center" [routerLink]="[ '/gigs']">More Gigs</a>
            </div>
        </div>
</section>

<!-- Vacancy Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Vacancies</h3>
    <p class="small text-center">These are the available vacancies</p>
    @if (!newVacancies || newVacancies <= 0) { <h1 class="text-center fw-bolder">No new vacancies Yet check back later
        </h1>
        }
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let vacancy of newVacancies">
                    <div class="card w-100">
                        <div class="card-body">

                            <h6>{{vacancy.title}}</h6>
                            <!-- location -->
                            <div class="">
                                <!-- <p class="small m-0 text-center">Gig Title: </p> -->
                                <p class="small">{{vacancy.type}}</p>
                            </div>
                            <!-- gig Genre -->
                            <div class="mt-0">
                                <!-- <p class="small mb-1 m-0">Description: </p> -->
                                <p class="small">{{vacancy.description}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date: </p>
                                <p class="small">{{vacancy.date | date: dateTimeService.formatedDAte}}
                                </p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2">
                                <p class="small m-0">Location: </p>
                                <p class="small">{{vacancy.location}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Price: </p>
                                <p class="small">{{vacancy.price}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Instrument(s): </p>
                                <p class="small">{{vacancy.instruments}}</p>
                            </div>

                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Time: </p>
                                <p class="small">{{vacancy.time | timeFormat}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Contact: </p>
                                <p class="small">{{vacancy.contact}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Posted By: </p>
                                <p class="small">{{vacancy.postedBy}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Posted: </p>
                                <p class="small">{{vacancy.createdAt | date:
                                    dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Updated: </p>
                                <p class="small">{{vacancy.updatedAt | date:
                                    dateTimeService.formatedDAte}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button class="btn-dark btn text-white" (click)="getVacancyId(vacancy.id)">
                            Full Description
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-4 container text-center">
            <a class="btn-dark btn text-white text-center" [routerLink]="[ '/vacancies']">More Vacancies</a>
        </div>

</section>

<!-- Gadgets Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Gadgets</h3>
    <p class="small text-center">These are the available gadgets</p>
    @if (!newEvents || newEvents <= 0) { <h1 class="text-center fw-bolder">No new gadgets Yet check back later</h1>
        }
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let gadget of newEvents">
                    <div class="card w-100">
                        <div class="card-header p-0 m-0 rounded">
                            <a [href]="gadget.image">
                                <img src="{{gadget.image}}" alt="{{gadget.title || gadget.image}}"
                                    class="w-100 rounded">
                            </a>
                        </div>
                        <div class="card-body">
                            <!-- location -->
                            <div class="d-flex justify-content-between">
                                <p class="small">{{gadget.title}}</p>
                            </div>
                            <!-- gig Genre -->
                            <div class="mt-0">
                                <p class="small">{{gadget.description}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Posted By: </p>
                                <p class="small">{{gadget.postedBy}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Date Posted: </p>
                                <p class="small">{{gadget.createdAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Date Updated: </p>
                                <p class="small">{{gadget.updatedAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn-dark btn text-white" (click)="getGadgetId(gadget.id)">
                                    Full Description
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 container text-center">
                <a class="btn-dark btn text-white text-center" [routerLink]="[ '/market-place']">More Gadgets</a>
            </div>
        </div>
</section>

<!-- Service Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Services</h3>
    <p class="small text-center">These are the available services</p>
    @if (!newEvents || newEvents <= 0) { <h1 class="text-center fw-bolder">No new services Yet check back later</h1>
        }
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let service of newEvents">
                    <div class="card w-100">
                        <div class="card-header p-0 m-0 rounded">
                            <a [href]="service.image">
                                <img src="{{service.image}}" alt="{{service.title || service.image}}"
                                    class="w-100 rounded">
                            </a>
                        </div>
                        <div class="card-body">
                            <!-- location -->
                            <div class="d-flex justify-content-between">
                                <p class="small">{{service.title}}</p>
                            </div>
                            <!-- gig Genre -->
                            <div class="mt-0">
                                <p class="small">{{service.description}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Posted By: </p>
                                <p class="small">{{service.postedBy}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Date Posted: </p>
                                <p class="small">{{service.createdAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Date Updated: </p>
                                <p class="small">{{service.updatedAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn-dark btn text-white" (click)="getServiceId(service.id)">
                                    Full Description
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 container text-center">
                <a class="btn-dark btn text-white text-center" [routerLink]="[ '/services']">More Services</a>
            </div>
        </div>
</section>

<!-- Events Session -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Events</h3>
    <p class="small text-center">These are the available events</p>
    @if (!newEvents || newEvents <= 0) { <h1 class="text-center fw-bolder">No new event Yet check back later</h1>
        }
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let event of newEvents">
                    <div class="card w-100">
                        <div class="card-header p-0 m-0 rounded">
                            <a [href]="event.image">
                                <img src="{{event.image}}" alt="{{event.title || event.image}}" class="w-100 rounded">
                            </a>
                        </div>
                        <div class="card-body">
                            <!-- location -->
                            <div class="d-flex justify-content-between">
                                <p class="small">{{event.title}}</p>
                            </div>
                            <!-- gig Genre -->
                            <div class="mt-0">
                                <p class="small">{{event.description}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Posted By: </p>
                                <p class="small">{{event.postedBy}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Date Posted: </p>
                                <p class="small">{{event.createdAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- gig availability -->
                            <div class="d-flex justify-content-between">
                                <p class="small">Date Updated: </p>
                                <p class="small">{{event.updatedAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn-dark btn text-white" (click)="getEventId(event.id)">
                                    Full Description
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-4 container text-center">
                <a class="btn-dark btn text-white text-center" [routerLink]="[ '/events']">More Events</a>
            </div>
        </div>
</section>



<!-- contributors section -->
<section class="mt-5 mb-5 container-fluid pb-5 p-0 m-0">
    <h3 class="text-center fw-bolder">Contributors</h3>
    <p class="small text-center">Great teams that made this project possible</p>

    <ngb-carousel [showNavigationArrows]="showNavigationArrow" [class.dark.theme]="isDarkTheme"
        [class.light-theme]="!isDarkTheme" *ngIf="contributors.length" class="ms-auto mt-5">
        <ng-template ngbSlide class="text-center">
            <div class="row pt-5">
                <div class="col-sm-6 col-md-3 col-lg" *ngFor="let contributor of contributors.slice(0,4)">
                    <div class="card w-70 bg-transparent text-center border-0">
                        <div class="card-header p-0 m-0 bg-transparent border-0">
                            <img [src]="contributor.imageUrl" [alt]="contributor.name" height="200" width="200"
                                class=" image-fluid rounded-circle">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="fw-bold">{{contributor.name}}</h3>
                            <div class="d-flex mt-0 pt-0 justify-content-center">
                                <p class="small">{{contributor.nickname}}</p>
                            </div>
                            <div class="d-flex justify-content-center mt-0 pt-0">
                                <p class="small">{{contributor.profession}}</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="mx-1" *ngIf="contributor.socialHandles.facebook">
                                    <a href='{{contributor.socialHandles.facebook}}' target="_blank"><i
                                            class="bi-facebook bi text-primary"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.instagram">
                                    <a href="{{contributor.socialHandles.instagram}}" target="_blank"><i
                                            class="bi-instagram bi text-danger"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.twitter">
                                    <a href="{{contributor.socialHandles.twitter}}" target="_blank"><i
                                            class="bi-twitter bi text-primary"></i></a>
                                </p>

                                <p class="mx-1" *ngIf="contributor.socialHandles.linkedin">
                                    <a href="{{contributor.socialHandles.linkedin}}" target="_blank"><i
                                            class="bi-linkedin bi text-primary"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.youtube">
                                    <a href="{{contributor.socialHandles.youtube}}" target="_blank"><i
                                            class="bi-youtube bi text-danger"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.tiktok">
                                    <a href="{{contributor.socialHandles.tiktok}}" target="_blank"><i
                                            class="bi-tiktok bi text-primary"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <!-- second slide -->
        <ng-template ngbSlide class="text-center justify-content-center" ngIf="contributors.length > 4">
            <div class="row pt-5 justify-content-center">
                <div class="col-sm-6 col-md-3 col-lg" *ngFor="let contributor of contributors.slice(4, 8)">
                    <div class="card w-70 bg-transparent border-0">
                        <div class="card-header p-0 m-0 bg-transparent border-0 text-center">
                            <img [src]="contributor.imageUrl" [alt]="contributor.name" height="200" width="200"
                                class=" image-fluid rounded-circle">
                        </div>
                        <div class="card-body text-center">
                            <h3 class="fw-bold">{{contributor.name}}</h3>
                            <div class="d-flex mt-0 pt-0 justify-content-center">
                                <p class="small">{{contributor.nickname}}</p>
                            </div>
                            <div class="d-flex justify-content-center mt-0 pt-0">
                                <p class="small">{{contributor.profession}}</p>
                            </div>
                            <div class="d-flex justify-content-center">
                                <p class="mx-1" *ngIf="contributor.socialHandles.facebook">
                                    <a href='{{contributor.socialHandles.facebook}}' target="_blank"><i
                                            class="bi-facebook bi text-primary"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.instagram">
                                    <a href="{{contributor.socialHandles.instagram}}" target="_blank"><i
                                            class="bi-instagram bi text-danger"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.twitter">
                                    <a href="{{contributor.socialHandles.twitter}}" target="_blank"><i
                                            class="bi-twitter bi text-primary"></i></a>
                                </p>

                                <p class="mx-1" *ngIf="contributor.socialHandles.linkedin">
                                    <a href="{{contributor.socialHandles.linkedin}}" target="_blank"><i
                                            class="bi-linkedin bi text-primary"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.youtube">
                                    <a [href]="contributor.socialHandles.youtube" target="_blank"><i
                                            class="bi-youtube bi text-danger"></i></a>
                                </p>
                                <p class="mx-1" *ngIf="contributor.socialHandles.tiktok">
                                    <a href="{{contributor.socialHandles.tiktok}}" target="_blank"><i
                                            class="bi-tiktok bi text-primary"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="mt-4 container text-center">
        <a class="btn-dark btn text-white text-center" [routerLink]="[ '/contributors']">All Contributors</a>
    </div>
</section>
