<!-- Vacancy Session -->
<!-- Vacancys Session  -->
<section class="mt-5 mb-5 container-fluid pb-5">
    <h3 class="text-center fw-bolder">Vacancys</h3>
    <p class="small text-center">These are the available vacancys</p>
    @if (!allVacancies || allVacancies <= 0) { <h1 class="text-center fw-bolder">No new vacancys Yet check back later</h1>
        }
        <div class="mt-4">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-3 my-2" *ngFor="let vacancy of allVacancies">
                    <div class="card w-100">

                        <div class="card-body">
                            <h6>{{vacancy.title}}</h6>
                            <!-- location -->
                            <div class="">
                                <!-- <p class="small m-0 text-center">Vacancy Title: </p> -->
                                <p class="small">{{vacancy.type}}</p>
                            </div>
                            <!-- vacancy Genre -->
                            <div class="mt-0">
                                <!-- <p class="small mb-1 m-0">Description: </p> -->
                                <p class="small">{{vacancy.description}}</p>
                            </div>
                            <!-- vacancy availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date: </p>
                                <p class="small">{{vacancy.date | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- vacancy availability -->
                            <div class=" mt-2">
                                <p class="small m-0">Location: </p>
                                <p class="small">{{vacancy.location}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Price: </p>
                                <p class="small">{{vacancy.price}}</p>
                            </div>

                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Instrument(s): </p>
                                <p class="small">{{vacancy.instruments}}</p>
                            </div>

                            <!-- vacancy availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Time: </p>
                                <p class="small">{{vacancy.time | timeFormat}}</p>
                            </div>
                            <!-- vacancy availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Contact: </p>
                                <p class="small">{{vacancy.contact}}</p>
                            </div>
                            <!-- vacancy availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Posted By: </p>
                                <p class="small">{{vacancy.postedBy}}</p>
                            </div>
                            <!-- vacancy availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Posted: </p>
                                <p class="small">{{vacancy.createdAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <!-- vacancy availability -->
                            <div class=" mt-2 d-flex justify-content-between">
                                <p class="small m-0">Date Updated: </p>
                                <p class="small">{{vacancy.updatedAt | date: dateTimeService.formatedDAte}}</p>
                            </div>
                            <div class="text-center mt-3">
                                <button class="btn-dark btn text-white" (click)="getVacancyDetails(vacancy.id)">
                                    Full Description
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
