<form action="#!">
    <div class="row gy-3 gy-xxl-4">
        <div class="col-12">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="currentPassword">
        </div>
        <div class="col-12">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword">
        </div>
        <div class="col-12">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>
