/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

// theme toggling
body {
    transition: background-color 0.3s, color 0.3s;
}

.dark-theme {
    background-color: #1b1b1b;
    color: #fff;

    .card {
        background-color: #1b1b1b;
        border-color: #2b2b2b;
        color: whitesmoke;
    }

    ngb-carousel,
    .ngbSlide {
        background-color: #1b1b1b;
    }

    button,
    .btn {
        background-color: gray;
        color: whitesmoke;
        border-color: inherit;
    }

    input,
    select {
        background-color: transparent;
        color: whitesmoke;
    }
}

.light-theme {
    background-color: whitesmoke;
    color: #000;

    input,
    select {
        background-color: transparent;
        color: black;
    }

    button,
    .btn {
        background-color: #1b1b1b;
        color: whitesmoke;
        border-color: inherit;
    }

    ngb-carousel,
    .ngbSlide {
        background-color: transparent;
    }

}

.toast-container {
    z-index: 2;
    right: 1px;
}
